FRONTEND_ORIGIN=http://localhost:3000
MAX_FILE_SIZE_MB=100
MAX_TOTAL_SIZE_MB=2048
MAX_IMAGE_COUNT=500
PROJECT_TTL_HOURS=24
# STORAGE_ROOT=/data
# FFMPEG_BINARY=/usr/bin/ffmpeg
# FFPROBE_BINARY=/usr/bin/ffprobe
